:root {
  --angle: 0;
}

.cell {
  height: auto;
  width: auto;
  border: 1px solid var(--angle);
}

.grid {
  display: grid;
  grid-template-rows: repeat(24, 4rem);
  grid-template-columns: repeat(20, 4rem);
}

.sprite-cell {
  transform: rotate(var(--angle));
}
